<h2>Tasks 
  <a class="button" [routerLink]="['/tasks/create']">
    <button> 
  + 
</button>
</a>
</h2> 

<ul class="list">
  <li class="list-item" *ngFor="let task of tasks$ | async" [class.selected]="task.id === selectedId">
    <h3>
      <a [routerLink]="['/task', task.id]">
        {{ task.description }}
      </a>
    </h3>
   
    <div class="dates">
      <span class="cdate" > {{ task.created | date:'short' }} </span> <span> -> </span> <span class="cdate" > {{ task.deadline  | date}} </span>
    </div>
    <div class="categories">
      <span class="category" *ngFor=" let cat of task.categories" [ngStyle]="{'background-color': cat.color}"> {{ cat.name }} </span>
    </div>
  </li>
</ul>